.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}
.con {
  text-align: center;
  .fas {
    padding-top: 14px;
    font-size: 5rem;
  }
}

.page {
  background-color: white;
  height: 100vh;
}
